<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="styles.css">
</head>

<h1>
Visualize Convolutional Neural Networks
</h1>
<script src="angular.min.js"></script>
<script src="myscripts.js"></script>
<script src="bootstrap.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
</head>
<body>



<div ng-app="myApp" class="container">
  <div class="row" ng-controller="myCtrl">
  
    <div class="col-md-2">
  		<ul class="nav nav-pills nav-stacked">
       	<li ng-class="{ active: isSet(1) }">
          	<a href ng-click="setTab(1)">CNN Visualizations</a>
       	</li>
       	<li ng-class="{ active: isSet(2) }">
          	<a href ng-click="setTab(2)">Confusion Matrix</a>
       	</li>
       	<li ng-class="{ active: isSet(3) }">
          	<a href ng-click="setTab(3)">Class Distribution</a>
       	</li>
     	</ul>
    </div>
    
    
    <div class="col-md-8">
  		<div class="jumbotron">
       	<div ng-show="isSet(1)">
       	    <h3>Step 1: Upload File</h3>
    <div class="col-md-6">
         <input type = "file" file-model = "myFile"/>
     <button ng-click = "uploadFile()">Upload File</button>
    </div>
    
    <br> <br> <br>
    <h3>Step2: Generate Predictions</h3>
    <div class="col-md-6">
     <button ng-click = "generate()">Generate</button>
    </div>
    
    <br> <br> <br>
    
    <div class="col-md-6" col-md-offset-2>
       <img width="400" height="300" ng-src="{{filepreview}}" class="img-responsive" ng-show="filepreview"/>
       <img width="400" height="300" ng-src="{{visualization}}" class="img-responsive" ng-show="visualization"/>
       <br>
       <img width="400" height="300" ng-src="{{visualization20}}" class="img-responsive" ng-show="visualization20"/>
     <img width="400" height="300" ng-src="{{visualization15}}" class="img-responsive" ng-show="visualization15"/>
     <img width="400" height="300" ng-src="{{visualization10}}" class="img-responsive" ng-show="visualization10"/>
     <img width="400" height="300" ng-src="{{visualization5}}" class="img-responsive" ng-show="visualization5"/>
    </div>
        	</div>
			<div ng-show="isSet(2)">
			<div id="container"></div>
	<script src="matrix.js"></script>

	<script>
		
		var confusionMatrix = [[110,3,8,0,4],
				       [3,111,2,27,32],
				       [11,2,85,1,1],
				       [0,22,2,42,9],
				       [8,25,0,3,114]];
		var labels = ['caught lobster', 'cod caught', 'fresh caught jonah crab',
       'kusk fish', 'out of water halibut'];
		
		Matrix({
			container : '#container',
			data      : confusionMatrix,
			labels    : labels
		});
	</script>
     	</div>
        <div ng-show="isSet(3)">
          <h1>Class Distribution</h1>
	</div>
     </div>  
  </div></div>

</body>
</html>

