body{
  margin-top: 40px;
}
img {
    border-radius: 8px;
}

@import "compass/css3";

body {
  margin: 15px;
}


/* button recolor */
.nav-pills > li.active > a, .btn-primary {
  border-color: #6C6C6C !important;
  border-radius: 25px; 
}


